
= simple_form_for [@project, (@task || Task.new)], html: {class: 'form-horizontal' }, remote: true  do |f|
  h4= f.input :title, label: "Task"
  h4= f.input :due_date
  h3= f.submit 'Save'
hr



/ .form-horizontal
/   = form_for [@project, @task] do |f|
/     - if @task.errors.any?
/       #error_explanation
/         h2
/           = pluralize(@task.errors.count, "error")
/           | prohibited this task from being saved:
/         ul
/           - @task.errors.full_messages.each do |message|
/             li= message
/     .form-group
/       h4= f.label :title
/       br
/         = f.text_field :title, class: "form-control"
/     .form-group
/       h4= f.label :due_date
/       br
/         = f.datetime_select :due_date, class: "form-control"
/     .actions
/       = f.submit class: "btn btn-primary"

/   hr
