<h1>Projects homepage</h1>

<h3><%= link_to "Create new Project", new_project_path %></h3>

<% @projects.each do |project| %>
<div class="container">
  <h3><%= link_to project.title, project_path(project) %></h3>
  <h5><%= project.due_date %></h5>
  <p><%= project.description %><p>
  <hr>
  </div>
<% end %>

